:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 2rem;
}

.header-content {
    text-align: center;
    max-width: 500px;
    margin-bottom: 4rem;
    color: var(--grey-400);
}

.title-light {
    font-weight: 200;
    font-size: 2.2rem;
    color: var(--grey-500)
}

.title-bold {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--grey-500);
    margin-bottom: 1rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    max-width: 1150px;
}

.card {
    background-color: var(--white);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 15px 30px -10px rgba(131, 166, 210, 0.5);
    border-top: 5px solid transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card h3 {
    color: var(--grey-500);
    margin-bottom: 0.5rem;
}

.card p {
    color: var(--grey-400);
    font-size: 0.85rem;
    line-height: 1.6rem;
}

.card img {
    align-self: flex-end;
    margin-top: 2rem;
}

.supervisor {
    border-color: var(--cyan);
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
}

.team-builder {
    border-color: var(--red);
    grid-column: 2;
    grid-row: 1;
}

.karma {
    border-color: var(--orange);
    grid-column: 2;
    grid-row: 2;
}

.calculator {
    border-color: var(--blue);
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: center;
}